/* ===== BASE ===== */

:root{
   --background:#F5F6F8; 
   --cinza-escuro: #1A2238;
   --cinza-claro: #6B7088;
   --azul-escuro:#3F4FB8;;
   --azul-claro: #5B6FD8;
   --ciano:#8FE3D0;
   --fonte: "Playfair Display", Georgia, serif;
   --fonte-sans:"Inter", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
   --gradiente:linear-gradient(to right, rgb(0, 0, 0, 0.75), rgba(0,0,0,.55), rgba(0,0,0,.3));
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-sans);
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--background);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    font-size: .9rem;
}

h1, h2, h3{
    font-family: var(--fonte);
    letter-spacing:-0.01em;
    margin:0;
    font-weight:600
}

img{
   max-width: 100%;
   display: block;
}

.eyebrow{
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
    /*margin-bottom: 1rem;*/
}

.btn{
    background: var(--azul-claro);
    color: white;
    font-weight:600;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 50px;
    transition:.2s;
    box-shadow:0 10px 25px -10px rgba(0,0,0,.3)
}

.btn:hover{
    background: var(--azul-escuro);
}

/* ===== HEADER ===== */
header{
    position: fixed;
    top:0;left:0;right:0;
    z-index: 50;
    backdrop-filter:blur(12px);
    background:rgba(245,246,248,.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    box-shadow: 0px 0px 10px 5px rgba(32, 38, 32, 0.12);
    padding: 0 1em 0 .5em;
}

.lista-nav a{
    color: var(--cinza-claro);
    transition: .2s;
}
.lista-nav a:hover{
    color: var(--cinza-escuro);
}

.logo{
  width: 150px;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.lista-nav{
    list-style: none;
    display: flex;
    gap: 1em;
}

.btn-header{ /*só vai aparecer na versão tablet e desktop*/
    display: none;
    padding: .7em 1em .7em 1em;
    font-weight: 500;
}

/* menu sanduiche*/
/*
nav{
    display: flex;
    align-items: center;
}
.menu-sanduiche{
    display: block;
}

.menu-sanduiche div{
    width: 2em;
    height: 0.25em;
    background-color: var(--azul-escuro);
    margin: 0.3em;
    border-radius: 15%;
}

.lista-nav{
    position: fixed;
    transform: translateX(125%);
}
*/

/*==== HERO ====*/

.hero{
    position: relative;
    width: 100vw;
    height: 60vh;
    margin-top: 3em;
}

.hero h1{
    font-size: clamp(40px,6vw,60px);
    line-height: 1.05;
    
}

.hero h1 .destaque{
    font-style: italic;
    color: var(--ciano);
}

.hero .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--gradiente);
}

img.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.conteudo-hero{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 1em 0 1rem;
    color: white;
    gap: 1em
}

.conteudo-hero .eyebrow{
    color: var(--ciano);
}

.conteudo-hero p{
    line-height:1.6;
    margin: .5em 0 .5em 0;
}

.cta-hero{
    display: flex;
    align-items: center;
    gap: 1em;
}

.cta-hero .ver{
    color: white;
    transition: .4s;
}
.cta-hero .ver:hover{
    color: var(--ciano);
}

/*Tablet*/
@media (min-width: 768px){
    .btn-header{
        display: block;
    }

    .conteudo-hero{
        padding: 6em 2em 2em 5em;  
    }

}

/*Desktop*/
@media (min-width: 1024px ){

    header{
        padding: 0 9em 0 9em;
    }


    .hero{
        height: 85vh;
    }

    .conteudo-hero{
        max-width: 900px;
        margin-top: 4em;
        padding: 6em 2em 2em 15em; 
    }

}