/* ===== BASE ===== */

:root{
   --background:#F5F6F8; 
   --background-escuro:#e5e7e767;
   --cinza-escuro: #1A2238;
   --cinza-claro: #6B7088;
   --cinza-clarissimo: #6b70883c;
   --azul-escuro:#3F4FB8;;
   --azul-claro: #5B6FD8;
   --ciano:#8FE3D0;
   --fonte: "Playfair Display", Georgia, serif;
   --fonte-sans:"Inter", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
   --tamanho-h1: clamp(2.5rem,7vw,4rem);
   --tamanho-h2: clamp(1.8rem, 5vw,2.2rem);
   --tamaho-h3: clamp(1.5rem,2.5vw,1.5rem);
   --padding-h: clamp(1em, 7vw, 15em);
   --padding-v: clamp(2em, 5vw, 6em);
   --padding-seccoes: var(--padding-v) var(--padding-h);
   --gradiente:linear-gradient(to right, rgb(0, 0, 0, 0.75), rgba(0,0,0,.55), rgba(0,0,0,.3));
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-sans);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: var(--background);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    font-size: clamp(0.75rem, 1.5vw, 0.8rem);
    white-space: nowrap;
}

p{
    font-size: clamp(.9rem,1.25vw,1.5rem);
    line-height:1.6;
    margin: .5em 0 .5em 0;
}

h1, h2, h3{
    font-family: var(--fonte);
    letter-spacing:-0.01em;
    margin:0;
    font-weight: 300;
}

h1{
    font-size: var(--tamanho-h1);
    line-height: 1.05;
    transform: scaleY(1.05); /* Estica apenas a largura em 1.5x */
    display: inline-block;  /* Necessário para o transform funcionar em textos */
}


h2{
    font-size:var(--tamanho-h2);
    line-height:1.15;
    color: var(--cinza-escuro);
}

h3{
    font-size: var(--tamaho-h3);
}

img{
   max-width: 100%;
   display: block;
}

hr{
    border: none;
    height: .5px;
    background-color: var(--cinza-clarissimo);
}

section{
    padding: var(--padding-seccoes);
}


.eyebrow{
    font-size: clamp(0.8rem, 1.5vw, 0.8rem);
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
    color: #5B6FD8;
}

.btn{
    background: var(--azul-claro);
    color: white;
    font-weight:600;
    border-radius: 50px;
    transition:.2s;
    box-shadow:0 10px 25px -10px rgba(0,0,0,.3);
    font-size: clamp(0.85rem, 3vw, 1rem);
    white-space: nowrap;
    padding: 1em 2em;
    
}

.btn:hover{
    background: var(--azul-escuro);
}

.destaque{
    font-style: italic;
    color: var(--azul-claro);
}

/* ===== HEADER ===== */
header{
    position: fixed;
    top:0;left:0;right:0;
    z-index: 50;
    backdrop-filter:blur(12px);
    background:rgba(245,246,248,.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    box-shadow: 0px 0px 10px 5px rgba(32, 38, 32, 0.12);
    padding: 0 clamp(0.5em, 8vw, 9em);
}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.5em, 2vw, 1em);
}

.lista-nav .item-nav{
    color: var(--cinza-claro);
    transition: .2s;
}
.lista-nav .item-nav:hover{
    color: var(--cinza-escuro);
}


.logo{
  width: clamp(100px, 15vw, 150px);

}

.btn-header{ /*só vai aparecer na versão tablet e desktop*/
    
    padding: .7em 1em .7em 1em;
    font-weight: 500;
    color: white;
}


/* menu sanduiche*/

nav{
    display: flex;
    align-items: center;
}
.menu-sanduiche{
    display: block;
}

.menu-sanduiche div{
    width: 2em;
    height: 0.25em;
    background-color: var(--azul-escuro);
    margin: 0.3em;
    border-radius: 15%;
}

.lista-nav{
    list-style: none;
    display: flex;
    gap: 1em;
    position: fixed;
    top: 8vh;
    right: 0;
    width: 60%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2em;
    gap: 2em;
    transform: translateX(125%);
    transition: transform 0.4s ease;
}

.lista-nav.active{
    transform: translateX(0);
    display: flex;
}



/*Tablet*/
@media (min-width: 768px){
    .btn-header{
        display: block;
    }

    .menu-sanduiche{
        display: none;
    }

    .lista-nav{
        position: static;
        flex-direction: row;
        transform: none;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
    }
}


/*==== HERO ====*/

.hero{
    position: relative;
    width: 100vw;
    height: clamp(65vh, 75vw, 85vh);
    margin-top: 3em;
}

.hero h1 .destaque{
    color: var(--ciano);
}

.hero .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--gradiente);
}

img.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.conteudo-hero{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(2em, 12vw, 8em) clamp(2em, 4vw, 4em) 2em clamp(1em, 12vw, 15em) ;
    color: white;
    gap: 1em;
    max-width: clamp(0px, 80%, 600px);
}

.conteudo-hero .eyebrow{
    color: var(--ciano);
}

.conteudo-hero p{
    color: var(--background);
    line-height:1.6;
    margin: .5em 0 .5em 0;
}

.cta-hero{
    display: flex;
    align-items: center;
    gap: 1em;
}

.cta-hero .ver{
    color: white;
    transition: .4s;
}
.cta-hero .ver:hover{
    color: var(--ciano);
}
/*mobile*/
@media (max-width: 520px){
    .cta-hero{
        flex-direction: column;
    }
} 
/*secçoes*/

section p{
    color: var(--cinza-claro);
}

/*==== SECÇÃO 1 - inteligência visual ====*/

.seccao-1{
    background:var(--background);
}

.seccao-1 .eyebrow{
    color: var(--ciano);
    font-weight: 700;
}
.seccao-1 .destaque{
    color: var(--azul-claro);
}

/*==== SECÇÃO 2 - problemática ====*/

.seccao-2{
    background:var(--background-escuro);
}

.cards{
    display: grid; /*como é mobile first so declaro o gid template colums do media query*/
    gap: 2em;
    margin-top: 2em;
}

.card{
    background: var(--background);
    border: .5px solid var(--cinza-clarissimo);
    border-radius: 16px;
    padding: clamp(1em, 2vw, 2em);
}

.card h3{
    margin-top: 1em;
}

.icon{
    font-size: var(--tamanho-h2);
}

@media (min-width: 768px){
    .cards{
        grid-template-columns:repeat(3,1fr);
    }
}

/*==== SECÇÃO 3 - como funciona ====*/

.seccao-3{
    background:var(--background);
    display: flex;
    flex-direction: column;
    position: relative;
}
.passos {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: clamp(2em, 5vw, 5em);
    position: relative;
}

/* linha vertical mobile */
.passos::before {
    content: '';
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 25px; 
    background: linear-gradient(to top, transparent, rgba(143, 227, 207, 0.767), transparent);
}

.passo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.passo .icon {
    width: 50px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background: var(--background);
    border: 2px solid var(--azul-claro);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.passo .icon p {
    font-family: "Playfair Display", serif;
    color: var(--azul-claro);
    font-size: 1.125rem;
    margin: 0;
}

@media (min-width: 768px) {
    .passos {
        flex-direction: row;
        align-items: flex-start;
    }
    /* linha vertical mobile */
    .passos::before {
        width: auto;
        height: 2px;
        top: 35px; 
        bottom: auto;
        left: 0;
        right: 0;
        background: linear-gradient(to right, transparent, rgba(143, 227, 207, 0.767), transparent);
    }

    .passo {
        flex-direction: column;
        align-items: flex-start;
    }

    .passo .icon {
        width: 70px; 
    }
}

/*==== SECÇÃO 5 - para quem é ====*/

.seccao-5{
    background: var(--background-escuro);
    text-align: center;
}

/*==== CTA ====*/
.cta{
    background: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.cta .eyebrow{
    color: var(--ciano);
}
.cta h2{
    color: var(--background);
    font-size: clamp(2rem,4.5vw,3rem);
}

.cta form{
    width: 100%;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.162);
    padding: .5em;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.074);
}

form input{
    background:transparent;
    color:#fff;
    border:0;
    padding: .75em 1.25em;
    border-radius: 50px;
    outline:none;
    font-size:.93rem;
}

form input:focus{
    background:rgba(255,255,255,.05)
}

form .btn{
    background: var(--background);
    color: var(--azul-escuro);
    border: 0;
    padding: 1em 2em;
    font-size: 1rem;
}

form .btn:hover{
    background: var(--ciano);
    color: var(--cinza-escuro);
    border: 0;
}

.detalhe{
    font-size: .8rem;
}

@media (min-width: 500px){
    .cta form{
        width: auto;
    }
}

/*==== FOOTER ====*/
footer{
    padding: var(--padding-seccoes);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titulo-footer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.conteudo-footer{
    display: flex;
    align-items: center;
    gap: 1em;
}



